[submodule "thirdparty/panda"]
	path = thirdparty/panda
	url = https://github.com/commaai/panda.git
[submodule "thirdparty/kia-opendbc"]
	path = thirdparty/kia-opendbc
	url = git@github.com:UCR-CISL/kia-opendbc.git
[submodule "thirdparty/IsaacTeleop"]
	path = thirdparty/IsaacTeleop
	url = git@github.com:jyue86/IsaacTeleop.git
[submodule "thirdparty/sam-3d-objects"]
	path = thirdparty/sam-3d-objects
	url = https://github.com/facebookresearch/sam-3d-objects.git
[submodule "thirdparty/drivestudio"]
	path = thirdparty/drivestudio
	url = https://github.com/ziyc/drivestudio.git
